.page-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    'sidemenu header'
    'sidemenu content'
    'sidemenu footer';

  .area-header {
    grid-area: header;
  }

  .area-content {
    grid-area: content;
  }

  .area-sidemenu {
    grid-area: sidemenu;
  }

  .area-footer {
    grid-area: footer;
  }
}
