<ng-template #template [ngTemplateOutlet]="template">
  <div class="page-container h-100">
    <section class="area-header">
      <ng-content select="[header]"></ng-content>
    </section>

    <section class="area-content h-100">
      <ng-content select="[content]"></ng-content>
    </section>

    <section class="area-sidemenu">
      <ng-content select="[sidemenu]"></ng-content>
    </section>

    <section class="area-footer">
      <ng-content select="[footer]"></ng-content>
    </section>
  </div>
</ng-template>
