.navigation-container {
  background: transparent;

  .stepper-content {
    background: transparent;
  }
}

:host ::ng-deep .stepper-content {
  .mat-horizontal-stepper-header {
    pointer-events: none;
  }

  .mat-icon {
    display: none;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: #165c7d;
  }

  .mat-step-icon {
    height: 23px;
    width: 23px;
  }

  .mat-step-icon-state- {
    background-color: #c6ced1;
  }

  .mat-step-icon-selected {
    background-color: transparent;
    border: 2px solid #165c7c;
    height: 20px;
    width: 20px;
  }
}
