.navigation-container {
  background: transparent;

  .stepper-content {
    background: transparent;
  }
}

:host ::ng-deep .stepper-content {
  .mat-horizontal-stepper-header {
    pointer-events: none;
  }
  .mat-icon {
    display: none;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: #165c7d;
  }
}
