<div class="consult-search-form-container">
  <mat-card class="title-info mat-card-flat rounded-0 p-0">
    <div class="card-label mb-4">
      <div class="card-label-title mb-2">Informe o CPF do futuro cooperado</div>

      <div class="card-label-subtitle">
        Se necessário, você poderá duplicar uma conta existente ou pausar e
        retornar este cadastro futuramente.
        <div class="card-label-subtitle">
          Digite apenas os números (sem pontos ou traços).
        </div>
      </div>
    </div>
  </mat-card>

  <form class="search-form" [formGroup]="form" (keyup)="(form.invalid)">
    <div class="form-input-container d-flex">
      <div class="search-container">
        <label class="form-label">CPF</label> <br />
        <input
          [ngClass]="{ 'form-invalid-input': form.invalid && form.touched }"
          class="form-input me-3"
          type="text"
          [imask]="mask"
          matInput
          formControlName="cpf"
          placeholder="000.000.000-00"
        />

        <button (click)="handleSubmitForm()" class="primary-button">
          {{ buttonPlaceholder }}
        </button>

        <div class="label-error" *ngIf="form.invalid && form.touched">
          Informe um CPF válido
        </div>
      </div>
    </div>
  </form>
</div>
