.header-card-container {
  max-height: 100px;
  display: grid;
  grid-template-columns: auto 1fr 300px;
  grid-template-rows: auto;
  grid-template-areas: 'title . info';

  .area-title {
    grid-area: title;

    .title-label {
      font-size: 26px;
      font-weight: 500;
    }

    .area-navigation {
      .navigation-path {
        color: grey;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  .area-info {
    grid-area: info;

    .profile-container {
      position: relative;

      .user-logo {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        border: 2px solid #165c7c;
      }

      .icon-menu {
        position: absolute;
        bottom: -12px;
        right: -9px;
        margin: 10px;
        color: #165c7c;
        font-size: 26px;
        height: 26px;
        width: 26px;
      }
    }

    .label-chip {
      cursor: default;
      display: inline-block;
      padding: 6px 12px;
      border: 2.5px solid #165c7c;
      border-radius: 20px;
      width: 90px;
      text-align: center;

      .chip-text {
        color: #165c7c;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.notification-icon {
  font-size: 42px;
  height: 42px;
  width: 42px;
}

:host ::ng-deep .notification .mat-icon {
  line-height: 42px;
}

:host ::ng-deep .mat-ripple {
  height: 38px;
  width: 38px;
  left: calc(50% - 18px) !important;
  top: calc(50% - 19px) !important;
}

:host
  ::ng-deep
  .mat-badge-small.mat-badge-overlap.mat-badge-after
  .mat-badge-content {
  right: -2px;
  top: 5px;
  background-color: red;
}
