<ng-template #template [ngTemplateOutlet]="template">
  <ailos-page>
    <ng-container header>
      <ailos-header></ailos-header>
    </ng-container>

    <ng-container content>
      <ailos-content>
        <span>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate ad
          repudiandae quidem expedita impedit harum accusantium voluptates dolor
          reiciendis enim, temporibus aspernatur similique eaque. Modi omnis
          labore sint provident minima
        </span>
      </ailos-content>
    </ng-container>

    <ng-container sidemenu>
      <ailos-sidemenu></ailos-sidemenu>
    </ng-container>

    <ng-container footer>
      <ailos-footer></ailos-footer>
    </ng-container>
  </ailos-page>
</ng-template>
