<mat-card class="sidemenu-card-container mat-card-flat rounded-0 h-100 p-0 m-0">
  <div class="area-logo d-flex justify-content-center align-items-center">
    <img class="icon-logo" [src]="'https://via.placeholder.com/75?text=LOGO'" />
  </div>

  <div
    class="area-icons d-flex flex-column justify-content-between align-items-center"
  >
    <button mat-icon-button>
      <mat-icon class="icon-menu main-icon">menu</mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="icon-menu"> search </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="icon-menu"> star_border </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="icon-menu"> sms </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="icon-menu"> settings </mat-icon>
    </button>

    <button mat-icon-button>
      <mat-icon class="icon-menu"> account_balance </mat-icon>
    </button>
  </div>
</mat-card>
